<?xml version="1.0"?>

<config>
    <modules>
        <SmartMouse_First>
            <version>0.0.1</version>
        </SmartMouse_First>
    </modules>

    <frontend>
        <routers>
            <smartmouse_first>
                <use>standard</use>
                <args>
                    <module>SmartMouse_First</module>
                    <frontName>first</frontName>
                </args>
            </smartmouse_first>
        </routers>
    </frontend>
</config>